body {
    background-color: #cdcdcd;
    background-image: url(https://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/nasty_fabric.png)
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    text-align: center;
    max-width: 1260px;
    margin: 0 auto;
    font-family: "roboto", sans-serif;
    font-size: 0.7rem;
}

.container h1 {
    margin: 0;
    font-family: "roboto slab", serif;
    font-size: 1.7rem;
    font-weight: 600;
}

ul {
    text-align: left;
}

hr {
    border-color: black;
    width: 90%;
}

.set-max-input {
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
    width: 105px;
    text-indent: 5px;
}

.set-max-btn {
    border: 2px solid black;
    border-radius: 5px;
    background: none;
    transition: all ease-in-out 300ms;
}

.set-max-btn:focus,
.set-max-input:focus {
    outline: none;
    box-shadow: none;
}

.set-max-input:hover {
    box-shadow: 2px 2px 10px black;
}

.set-max-btn:hover {
    background: #444;
    color: #ebebeb;
    cursor: pointer;
    box-shadow: 2px 2px 10px black
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.error {
    border: 3px solid red !important;
}

.success {
    border: 3px solid green !important;
}

.toggle {
    margin-left: 20px;
    margin-right: 20px;
}

.button {
    border-radius: 50% !important;
    font-size: 1.5em;
    background-color: lightgray;
}

.button:focus {
    outline: none;
}

.button:active {
    border: solid medium black;
}

#switches {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 26px;
    margin-top: 110px;
}

.text2 {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 90px;
    margin-top: 205px;
}

.text1 {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 19px;
    margin-top: 142px;
}

.text1 span:last-child {
    padding-left: 75px;
}

#title {
    font-family: 'Original Surfer', cursive;
    position: absolute;
    font-size: 40px;
    margin-left: 35px;
    margin-top: 40px;
}

#level {
    position: absolute;
    background: #330000;
    color: red;
    font-family: courier;
    font-size: 20px;
    height: 30px;
    width: 50px;
    margin-left: 90px;
    margin-top: 170px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.disable-select {
    /*Disable user selection of text*/
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#outer-circle {
    background: #385a94;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    margin: auto;
    margin-top: 60px;
    box-shadow: 8px 8px 15px 5px #888888;
    overflow: hidden;
}

#topleft {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 250px 0 0 0;
    -moz-border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px 0 0 0;
    background: darkgreen;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.topleft-flash {
    background-color: lightgreen !important;
    box-shadow: inset 0 0 10px 10px !important;
}

#topright {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
    background: darkred;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.topright-flash {
    background-color: tomato !important;
    box-shadow: inset 0 0 10px 10px !important;
}


#bottomleft {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
    background: goldenrod;
    top: 50%;
    left: 50%;
    margin: 0px -250px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.bottomleft-flash {
    background-color: yellow !important;
    box-shadow: inset 0 0 10px 10px !important;
}


#bottomright {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
    background: darkblue;
    top: 50%;
    left: 50%;
    margin: 0px 0px -250px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.bottomright-flash {
    background-color: lightskyblue !important;
    box-shadow: inset 0 0 10px 10px !important;
}


#inner-circle {
    position: absolute;
    background: grey;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 10px;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media screen and (max-width: 1100px) {
    .container {
        grid-template-columns: 1fr;
    }

    .container>div {
        width: 75%;
        max-width: 900px;
        margin: 0 auto;
    }
}
